name: pull_request

on: [pull_request, workflow_dispatch]

jobs:
  eslint:
    name: Run TS Project eslint
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: [24.11.0]

    steps:
      - name: Check out TS Project Git repository
        uses: actions/checkout@v5

      - name: Init nodejs
        uses: ./.github/actions/init-npm
        with:
          node-version: ${{ matrix.node }}

      - name: Run TS Project linters
        run: npm run lint

  tests:
    name: Run Tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: [24.11.0]

    steps:
      - name: Check out TS Project Git repository
        uses: actions/checkout@v5

      - name: Init nodejs
        uses: ./.github/actions/init-npm

      - name: Run tests
        run: npm run test
      - name: "Report Coverage"
        # Set if: always() to also generate the report if tests are failing
        # Only works if you set `reportOnFailure: true` in your vite config as specified above
        if: always()
        uses: davelosert/vitest-coverage-report-action@v2

  e2e:
    name: Run End-to-End Tests
    runs-on: ubuntu-latest
    steps:
      - name: Run E2E tests
        uses: MapColonies/jobnik-e2e/.github/actions/e2e-tests@master
        with:
          sdk_version: ${{ github.event.pull_request.head.sha }}
